* {

    margin: 0;
    padding: 0;


}

body {
    background-color: blanchedalmond !important;
    font-family: "Open Sans", Georgia, Times, 'Times New Roman', serif!important;

}

/* HEADER */
header {
    background-color: blanchedalmond;
}

header .img-wrapper{
    width: 50%;
    max-width: 200px;
}

.contenedor_logo_menu {
    padding: 25px 0;
    border-bottom: 1px solid rgba(2, 2, 2, 0.7);


}

.logo a {
    display: block;

}

.logo a img {
    vertical-align: top;
}

.menu {
    text-align: right;
    line-height: 50px;


}

.menu a {
    color: rgb(0, 0, 0);
    margin-left: 50px;
    font-size: 15px;
    padding: 7px;
    text-decoration: none;
    font-weight: 800;
    border-radius: 1px;
    border: 2px solid #000000;
    
}

.menu a:hover {
    border-radius: 10px 10px 10px 10px;
    color: white;
    background: black;

}

.contenedor-btns{
    margin-bottom: 100px;
}
.contenedor-btns a {
    margin-bottom: 200px;
    border-radius: 4px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(240, 240, 240);
    padding: 12px 12px 12px 12px;
    font-weight: 700;
    text-decoration: none;
    width: 235px;
    display: inline-block;
    text-align: center;
    margin: 0px 20px;
    background: rgb(2, 2, 2);
    ;

}

.contenedor-btns a:hover{

    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);

}


/* SOMOS */

.somos{
padding: 20px 0px;
text-align: center;
background: rgb(184, 184, 184);

}

/* INTENTO PONER CADROS BLANCOS SEPARADOS
.somos1{
    border-radius: 3px;
    border: 2px solid black;
    padding: 20px 10px;
    margin: 0px 0px;
    text-align: center;
    background: white;
}
*/
.titulo{
    text-align: center;
    font-family: "Open Sea", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: black;
    margin-bottom: 70px 0px;
}

.icono{
    vertical-align: top;
    margin-bottom: 30px;
    
}

.primera_linea{
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 30px;
}

.p_icono{
    color: rgb(255, 255, 255);
    line-height: 24px;
    font-weight: 400;
}


/* SERVICIOS */


.fotos{
margin-bottom: 20px;

}

.thumb img{
width: 100%;
}

/* CLIENTES */


.clientes{
    background: rgb(184, 184, 184);
    padding: 40px 0px;
    text-align: center;
    font-family:"Open Sea", Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.clientestitulo{
    margin-bottom: 40px;
}

.clientes h3{
    font-weight: 700;
    font-size: 40px;
}

.nombrecliente{
    font-size: 20px;
    
}

.pnegocio{
    color: white;

}

.btnclientes{
    color: white;
}

.clientes a{
    margin-bottom: 200px;
    border-radius: 4px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0,0,0);
    padding: 12px 12px 12px 12px;
    font-weight: 700;
    text-decoration: none;
    width: 235px;
    display: inline-flex;
    text-align: center;
    margin: 0px 20px;
    background: rgb(72, 211, 7);
    font-weight: 700;
}

.clientes a:hover{
    color: black;
    background: whitesmoke;
    ;
}


.foto_cliente img{
    border-radius:50%;
    vertical-align: top;
}






/*FORMULARIO CONTACTO*/
.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 90px;
}

.container-form h2 {
    margin-bottom: 15px;
    font-size: 35px
}

.container-form p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.container-form a i {
    color: orange;
    margin-right: 10px;
}

.container-form form .campo,
textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form form textarea {
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}

.container-form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
}


/* SOCIAL */

.social{
    text-align: center;
    padding: 20px 0px;
    margin-top: 30px;
    background: rgb(184, 184, 184);
    margin-bottom: 0px;
}

.social a{
  /*  background: rgb(255, 255, 255);*/
    display: inline-block;
    padding: 10px;
    margin: 0px 20px;
    width: 50px;
    font-size: 30px;
   /* border-radius: 30px;
    border: 2px solid rgb(243, 242, 242);*/
    color: black;
    
}

.social a:hover{
    text-decoration: none;

}
/*NO ME FUNCIONA*/
.linkedin i:hover{
    background: rgb(204, 183, 183);
}
.facebook i:hover{
    background: rgb(4, 7, 221);
}
.instagram i fa-instagram{
    background: rgb(139, 14, 170);
}



.container-card {
    position: relative;
    width: 100%;
    background-color: red;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container-card:hover .image {
    opacity: 0.3;
  }
  
  .container-card:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }








@media only screen and (max-width: 992px) {
    .titulo{
        font-size: 20px;
    }
  }


